<ion-view>
	<div class="bar bar-subheader">
	  	<h2 class="title">我的课表</h2>
	</div>
	<ion-content class="has-subheader">
		<div class="bar bar-header" style="width:100%">
		  	<!-- <button class="button button-icon icon ion-navicon"></button> -->
		  	<div class="timeSpans">
		  		<span >周日</span>
		  		<span >周一</span>
		  		<span >周二</span>
		  		<span >周三</span>
		  		<span >周四</span>
		  		<span >周五</span>
		  		<span >周六</span>
		  	</div>
		  	<!-- <button class="button button-clear button-positive">Edit</button> -->
		</div>
		
	</ion-content>
</ion-view>