<ion-view>
	<div class="bar bar-subheader">
		<button class="button button-clear button-positive" ng-click="getWeek('pre')">上周</button>
	  	<h2 class="title">我的课表</h2>
	  	<button class="button button-clear button-positive" ng-click="getWeek('next')">下周</button>
	</div>
	<ion-content class="has-subheader">
		<table  class="momentConatiner">
			<td class="fontTime">{{week.month}}</td>
			<td ><div>{{week.tolasttwo}}</div><br><div class="itemTime" >{{week.Nulasttwo}}</div></td>
			<td><div>{{week.tolastone}}</div><br><div class="itemTime" >{{week.Nulastone}}</div></td>
			<td ><div>{{week.tolast}}</div><br><div class="itemTime" >{{week.Nulast}}</div></td>
			<td  class="fontWeight"><div>{{week.today}}</div><br><div class="itemTime " >{{week.Nuday}}</div></td>
			<td><div>{{week.toone}}</div><br><div class="itemTime" >{{week.Nuone}}</div></td>
			<td><div>{{week.totwo}}</div><br><div class="itemTime" >{{week.Nutwo}}</div></td>
			<td><div>{{week.tothree}}</div><br><div class="itemTime" >{{week.Nuthree}}</div></td>
		</table>
	</ion-content>
</ion-view>