<ion-view title="益驾学车-教练详情">
	<ion-content  style="background-color:white;margin-bottom:60px" class="forHideEvent">
		<img src="./img/banner640.png" style="width:100%">
		<div class="coachTemp " style="margin-top:-40px;padding-left:1.5em;padding-right:1.5em;position:absolute;width:100%">
			<img ng-src="{{coach.Avator+'_large'}}" style="width:80px;border-radius:40px;float:left">
			<div class="header-line" style="width:100px;margin-left:100px;padding-top:12px" >
				<span style="color:white">{{coach.Name}}</span>
				<span style="margin-left:8px"><img ng-src="{{coachItem.sexImg}}" style="width:10px" /></span>
				<br>
				<span style="margin-left:8px"><img ng-src="{{coachItem.checkImg}}" style="width:80px;margin-top:15px;margin-left:-10px" /></span>
			</div>
			<a ng-href="tel:{{coach.Phone}}"><img src="./img/icon_phone.png" ng-show="coachPhone" style="float:right;margin-top:-20px;width:60px"></a>
		</div>
		<div class="clear"></div>
		<div class="kongbai" style="height:20px;background-color:#ededed;width:100%;margin-top:45px"></div>
		<div class="item item-avatar myArrayNative" style="padding-left:5%;" >
			<p style="margin-bottom:10px">教学特色</p>
			<span style="background-color:#3398cc">{{coachItem.first}}</span><span style="background-color:#65cc33">{{coachItem.second}}</span><span style="background-color:#ffcc33">{{coachItem.third}}</span>
		</div>
		<div class="item item-avatar  forCarIMG" style="padding-left:5%;" >
			<p style="margin-bottom:10px">车辆照片</p>
			<!-- <div class="clear"></div> -->
			<img ng-src="{{coachItem.firstIMG}}"><img ng-src="{{coachItem.secondIMG}}"><img ng-src="{{coachItem.thirdIMG}}"><img ng-src="{{coachItem.fourthIMG}}">
		</div>
		<div class="item item-avatar forCarIMG" style="padding-left:5%;" >
			<p style="margin-bottom:10px">场地照片</p>
			<!-- <div class="clear"></div> -->
			<img ng-src="{{coachItem.firstimg}}"><img ng-src="{{coachItem.secondimg}}"><img ng-src="{{coachItem.thirdimg}}"><img ng-src="{{coachItem.fourthimg}}">
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>所属驾校</span><span style="padding-left:24px;"><strong>{{coach.DrivingSchool}}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>教学模式</span><span style="padding-left:24px;"><strong>{{coach.teachType}}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>练车场地</span><span style="padding-left:24px;"><strong>{{coach.TeachSite }}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>最新价格</span><span style="padding-left:24px;"><strong>￥{{coach.Price}}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>个人简介</span><span style="padding-left:24px;overflow:hidden" ><strong>{{coach.Introduction}}</strong></span>
		</div>
	</ion-content>
	<div class="footerr">
	</div>
	<button class="footButton" ng-click="bindCoach()" >绑定教练</button>
</ion-view>
