<ion-view title="助驾帮-教练详情">
	<ion-content  style="background-color:white;margin-bottom:60px" class="forHideEvent" ng-hide="ionContent">
		<img src="./img/banner640.png" style="width:100%">
		<div class="coachTemp " style="margin-top:-40px;padding-left:1.5em;padding-right:1.5em;position:absolute;width:100%">
			<div class="forBorder" style="width:80px;border:2px solid white;border-radius:40px;float:left;" ng-show="coachAvatorTemp">
				<img ng-src="{{coach.Avator+'_large'}}"  style="width:80px;border-radius:40px;">
			</div>
			<div class="header-line" style="width:100px;margin-left:100px;padding-top:12px" >
				<span style="color:white">{{coach.Name}}</span>
				<span style="margin-left:8px"><img ng-src="{{coachItem.sexImg}}" style="width:10px" /></span>
				<br>
				<span style="margin-left:8px"><img ng-src="{{coachItem.checkImg}}" style="width:80px;margin-top:15px;margin-left:-10px" /></span>
			</div>
			<a ng-href="tel:{{coach.Phone}}"><img src="./img/icon_phone.png" ng-show="coachPhone" style="float:right;margin-top:-20px;width:60px"></a>
		</div>
		<div class="clear"></div>
		<div class="kongbai" style="height:20px;background-color:#ededed;width:100%;margin-top:45px"></div>
		<div class="item item-avatar myArrayNative" style="padding-left:5%;" >
			<p style="margin-bottom:10px;font-size:16px">教学特色</p>
			<span class="eventStudent" style="background-color:#3398cc" ng-hide="length">{{coachItem.first}}</span><span ng-hide="length" class="eventCoach" style="background-color:#65cc33">{{coachItem.second}}</span><span ng-hide="length" class="eventStyle" style="background-color:#ffcc33">{{coachItem.third}}</span>
		</div>
		<div class="item item-avatar  forCarIMG" style="padding-left:5%;" >
			<p style="margin-bottom:10px;font-size:16px">车辆照片</p>
			<!-- <div class="clear"></div> --><!-- ng-src="{{coachItem.firstIMG}}" --><!-- ng-show="firstIMG" -->
			<img ng-show="firstIMG" ng-src="{{coachItem.firstIMG}}" ng-click="showBigImage(coachItem.firstIMG)"   ><img ng-show="secondIMG" ng-src="{{coachItem.secondIMG}}" ng-click="showBigImage(coachItem.secondIMG)"><img ng-src="{{coachItem.thirdIMG}}" ng-show="thirdIMG" ng-click="showBigImage(coachItem.thirdIMG)"><img ng-src="{{coachItem.fourthIMG}}" ng-show="fourthIMG" ng-click="showBigImage(coachItem.fourthIMG)">
		</div>
		<div class="item item-avatar forCarIMG" style="padding-left:5%;" >
			<p style="margin-bottom:10px;font-size:16px">场地照片</p>
			<!-- <div class="clear"></div> -->
			<img ng-src="{{coachItem.firstimg}}" ng-show="firstimg" ng-click="showBigImage(coachItem.firstimg)"><img ng-show="secondimg" ng-src="{{coachItem.secondimg}}" ng-click="showBigImage(coachItem.secondimg)"><img ng-src="{{coachItem.thirdimg}}" ng-show="thirdimg" ng-click="showBigImage(coachItem.thirdimg)"><img ng-show="fourthimg" ng-src="{{coachItem.fourthimg}}" ng-click="showBigImage(coachItem.fourthimg)">
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>所属驾校</span><span style="padding-left:24px;"><strong>{{coach.DrivingSchool}}</strong></span>
		</div>       
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>教学模式</span><span style="padding-left:24px;"><strong>{{coach.teachType}}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>练车场地</span><span style="padding-left:24px;"><strong ng-show="coach.TeachSite !== 'cdyjwlkjyxzrgs' ">{{coach.TeachSite}}</strong></span>
		</div>
		<div class="item item-avatar coachItem coachIntroduce" style="padding-left:5%;height:auto" >
			<span>最新价格</span><span style="padding-left:24px;"><strong>￥{{coach.Price}}</strong></span>
		</div>
		<div class=" coachItem coachIntroduce" style="padding-left:5%;height:auto;" >
			<span  style="color:#444;font-size:16px;display:inline-block">个人简介</span><span style="display:inline-block" ><strong ng-show="coach.Introduction !== 'cdyjwlkjyxzrgs' "  style="font-size:16px;font-weight:300;padding-left:24px;line-height:1.6em">{{coach.Introduction}}</strong></span>
		</div>
	</ion-content>
	<div class="footerr" ng-hide="onlyStudent"></div>
	<button class="footButton" ng-click="bindCoach()" ng-hide="onlyStudent">绑定教练</button>
	<div class="container-model" ng-if="bigImage"  ng-click="hideBigImage()" image-height>
		<img ng-src="{{model.img}}" class="hideImage" />
	</div>
</ion-view>
