<ion-view title="助驾帮-个人中心">
	<ion-content>
		<div class="container">
			<img ng-src="{{userInfo.avator.large}}" class="userImageTemp">
			<div class="content" style="width:100%;">
				<form class="infoForm">
					<label style="float:left;height:34px;line-height:34px">姓名:</label>
					<input style="float:left;padding-left:1em" type="text" ng-model="userInfo.name" class="userInfoName">
				</form>
				<button ng-click="fixedName()" class="fixedName">提交</button>
			</div>
		</div>
	</ion-content>
</ion-view>