<ion-view >
	<ion-content>
		<ion-slide-box on-slide-changed="slideHasChanged($index)" >
		  	<ion-slide>
		    	<div class="box "><img src="./img/pageone.jpg"></div>
		  	</ion-slide>
		  	<ion-slide>
		    	<div class="box"><img src="./img/pagetwo.jpg"></div>
		  	</ion-slide>
		  	<ion-slide>
		    	<div class="box"><img src="./img/pagethree.jpg"></div>
		  	</ion-slide>
		</ion-slide-box>
		<div class="imageLink">
			<a href="#">
				<img src="./img/学车流程.png">
				<h4>学车流程</h4>
			</a>
			<a href="#">
				<img src="./img/报名准备.png">
				<h4>报名准备</h4>
			</a>
			<a href="/yja/getHospitalSite">
				<img src="./img/体检医院.png">
				<h4>体检医院</h4>
			</a>
			<a href="#">
				<img src="./img/课程套餐.png">
				<h4>课程套餐</h4>
			</a>
		</div>
		<div class="marginSide"></div>
		<div class="coachPlace">
			<a href="/yja/message">
				<button class="button button-full button-balanced" style="margin-top:35px">
			 		练车场
				</button>
			</a>
			<a href="/yja/coachList">
				<button class="button button-full  button-assertive searchCoach">
					找教练
				</button>
			</a>
		</div>
	</ion-content>
</ion-view>