<header id="top" class="navbar navbar-static-top bs-docs-nav" role="banner"> 
	<div class="container navside">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="../" class="navbar-brand">益驾学车-微信端</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse">
		</nav>
	</div>
</header>
<ui-view name="menuContent">
	
</ui-view>