<ion-view>
    <ion-header-bar class="bar bar-calm">
		<h1 class="title">益驾-微信端</h1>
	</ion-header-bar>
  	<ion-nav-view name="menuContent">
  	</ion-nav-view>
  	<ion-footer class="tabs tabs-icon-top myColor "  >
  		<a class="tab-item" href="/yja/homePage">
		   <i class="icon ion-paper-airplane"></i>
		   	益驾首页
		</a>
		<a class="tab-item" href="/yja/coachList">
		   <i class="icon ion-document-text"></i>
		   教练列表
		</a>
		<a class="tab-item" href="/yja/message">
		   <i class="icon ion-email-unread"></i>
		    搜索场地
		</a>
		<a class="tab-item" href="/yja/getHospitalSite">
		   <i class="icon ion-person"></i>
		    体检医院
		</a>
	</ion-footer>
</ion-view>