<ion-view title="助驾帮-约课系统">
	<ion-content style="background-color:#ededed" >
		<div class="container">
			<img src="./img/order.jpg" style="width:100%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="headerTemp" for-click>
			  <tr>
			    <td align="center" valign="middle"><dd class=" first activeTemp" style="display:block; width: 90px; height: 90px;  border-radius:45px;padding-top:4px "  ng-click="takeOrder(moment.one)">今天<br>{{moment.today}}<br><span class="dateMercy" >{{moment.one}}</span></dd></td>
			    <td align="center"  valign="middle"><dd class="second" style="d            isplay:block; width: 90px; height:90px;  border-radius:45px;padding-top:4px "  ng-click="takeOrder(moment.two)">明天<br>{{moment.second}}<br><span class="dateMercy" >{{moment.two}}</span></dd></td>
			    <td align="center" valign="middle"><dd class="third" style="display:block; width: 90px; height:90px;  border-radius:45px;padding-top:4px " ng-click="takeOrder(moment.three)">后天<br>{{moment.third}}<br><span class="dateMercy" >{{moment.three}}</span></dd></td>
			  </tr>
			</table>
			<div class="forconcent" style="width:96%;margin:0 auto;border-right:2px solid #cbcbcb;border-bottom:4px solid #cccccc" >
				<order-much ng-repeat="(key,order) in orderList" ></order-much>
				<div class="clear"></div>
			</div>
		</div>
	</ion-content>
</ion-view>