<ion-view title="助驾帮-个人中心">
	<ion-content>
		<a href="/yja/fixName"><button class="bindCoachTempItem">修改姓名</button></a>
		<div class="container">
			<img ng-src="{{userInfo.avator.large}}" class="userImageTemp">
			<div class="clear"></div>
			<div class="content" style="width:100%;margin-top:40%">
				<div class="mainBottom" style="margin-top:25px;margin-left:5%">
					<span style="letter-spacing:2em">姓名</span>
					<span style="padding-left:-1.5em">{{userInfo.name}}</span>
				</div>
				<div class="mainBottom" style="margin-top:25px;margin-left:5%">
					<span style="letter-spacing:2em">电话</span>
					<span style="padding-left:-1.5em">{{userInfo.phone}}</span>
				</div>
				<div class="mainBottom" style="margin-top:25px;margin-left:5%">
					<span>绑定教练</span>
					<span style="padding-left:2em" ng-show="haveCoach">{{userInfo.coach.name}}</span>
					<span style="padding-left:1.5em" ng-show="noCoach" ><button style="display:inline-block" class="bindCoachTemp" ng-click="changeUrl()">绑定教练</button></span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>