<ion-view>
     <ion-content>
        <div class="list list-inset">
             <label class="item item-input">
                <input type="text" placeholder="phone" ng-model="login.phone">
             </label>
             <label class="item item-input">
                <input type="password" placeholder="password" ng-model="login.password">
             </label>
             <button class="button button-full button-balanced" ng-click="signIn()">
                Submit
             </button>
        </div>
    </ion-content>
</ion-view>