<ion-view>
     <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="phone" ng-model="login.phone">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="login.password">
            </label>
            <button class="button button-full button-balanced nextStep" ng-click="signIn()">
                登录
            </button>
        </div>
        <p class="password pureColor"><a href="/password">忘记密码</a></p>
    </ion-content>
    <div class="footerRegister">
        <a href="/register"><button class="button button-balanced register">注册</button></a>
    </div>
</ion-view>